:root {
  --primary-color: #65c0ba;
  --fontColor: white;
  --titleFont: "Abril Fatface", sans-serif;
  --textFont: "Mukta Mahee", sans-serif;
}

.first-screen {
  font-family: var(--titleFont);
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url(/imgs/1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-bar {
  display: flex;
  height: 20%;
  justify-content: space-around;
  gap: 40%;
  align-items: center;
}

 .nav-bar h1,i {
  color: var(--fontColor);
  font-size: 1.5em;
  z-index: 99;
}

.image-opacity {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.15);
}

.movie{
    width: 100wh;
    height: 100vh;
    background-color: black;
}

.header-content{
    color: var(--fontColor);
}
.header-content h1{
    position: absolute;
    margin: 0 auto;
    padding-bottom: 1em;
    z-index: 99;
    text-align: center;
}
.header-content p{
    text-align: center;
    margin: 0 auto;
}
