:root {
  --primary-color: #65c0ba;
  --fontColor: white;
  --titleFont: "Abril Fatface", sans-serif;
  --textFont: "Mukta Mahee", sans-serif;
}

.first-screen {
  font-family: var(--titleFont);
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url(/imgs/1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-bar {
  display: flex;
  height: 20%;
  justify-content: space-around;
  gap: 40%;
  align-items: center;
}

 .nav-bar h1,i {
  color: var(--fontColor);
  font-size: 1.5em;
  z-index: 99;
}

.image-opacity {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.15);
}

.header-content{
    width: 100vw;
    height: 400px;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0);
    color: var(--fontColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.header-content h1{
    padding-bottom: 20px;
    font-family: var(--titleFont);
    font-size: 3em;
    z-index: 99;
}

.header-content p{
    padding-bottom: 50px;
    font-family: var(--textFont);
    font-weight: 100;
    z-index: 99;
}

.header-content button{
    width: 180px;
    height: 50px;
    font-family: var(--textFont);
    letter-spacing: 0.2em;
    border: 2px solid #E8E8E8;
    border-radius: 3px;
    color: #ffff;
    background-color: rgba(0, 0, 0, 0.0);
    z-index: 99;
}

.header-content p a{
    color: rgba(0,0,0,0.2);
}

.movie{
    width: 100wh;
    height: 100vh;
    background-color: black;
}
