:root {
  --primary-color: #65c0ba;
  --fontColor: white;
  --titleFont: "Abril Fatface", sans-serif;
  --textFont: "Mukta Mahee", sans-serif;
}

body {
  box-sizing: border-box;
  right: 0;
}

.first-screen {
  font-family: var(--titleFont);
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url(/imgs/1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 64px;
}

.nav-bar h1,
i {
  color: var(--fontColor);
  font-size: 1.5em;
  z-index: 99;
}

.image-opacity {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

.header-content {
  margin-top: 50px;
  color: var(--fontColor);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  text-align: center;
}

.header-content h1 {
  padding-bottom: 20px;
  font-family: var(--titleFont);
  font-size: 3em;
  z-index: 99;
}

.header-content p {
  padding-bottom: 50px;
  font-family: var(--textFont);
  font-size: 1em;
  z-index: 99;
}

.header-content button {
  width: 180px;
  height: 50px;
  margin: 0 auto;
  font-family: var(--textFont);
  letter-spacing: 0.2em;
  border: 2px solid #e8e8e8;
  border-radius: 3px;
  color: #ffff;
  background-color: rgba(0, 0, 0, 0);
  z-index: 99;
}

.header-content p a {
  color: rgba(215, 215, 215, 0.993);
}

.welecome {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  /* height: 100vh; */
  margin-top: 100px;
}

.movie {
  width: 400px;
  height: 500px;
  background: url(/imgs/2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.movie-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 500px;
  margin-left: 40px;
  line-height: 1.5rem;
  text-align: justify;
}

.movie-desc h1 {
  font-family: var(--titleFont);
  font-size: 1.3em;
  padding-bottom: 2em;
}

.movie-desc p {
  font-family: var(--textFont);
  color: #6c757d;
  padding-bottom: 2em;
}

.movie-desc .watch-video {
  display: inline-block;
  margin-left: 5px;
  font-family: var(--textFont);
  font-size: 1em;
  color: #65c0ba;
}

.play-circle {
  display: inline-block;
  border: 1px solid rgb(213, 211, 211);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  padding-top: 5px;
  padding-left: 5px;
}

.section-3 {
  background-color: #f5f5f57c;
}

.section-3 .sec-3-title {
  width: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding-top: 100px;
}

.section-3 .sec-3-title h1 {
  font-family: var(--titleFont);
  padding-bottom: 20px;
}

.section-3 .sec-3-title p {
  font-family: var(--textFont);
  padding-bottom: 50px;
  line-height: 1.5rem;
}
.section-3 .sec-3-container h2 {
  font-family: var(--titleFont);
  padding-top: 20px;
}

.section-3 .sec-3-container p {
  font-family: var(--textFont);
  line-height: 1.5rem;
  padding-top: 20px;
}

.row-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
  text-align: center;
}

.row-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
  text-align: center;
}

.section-4 {
  border:3px solid white;
  position: relative;
  width: 100vw;
  margin-top: 5%;
  border: 2px solid rebeccapurple;
}

.angled-top {
  position: absolute;
  bottom: 0;
  border-top: 70px solid transparent;
  border-right: 100vw solid #65c0ba;
  height: 800px;
  width: 0;
  z-index: -1;
}
.sec-4-1 {
  text-align: center;
  height: 30%;
  margin-bottom: 700px;
}

.sec-4-1-title {
  width: 100%;
  text-align: center;
}

.sec-4-1-title h1 {
  width: 50%;
  font-family: var(--title-font);
  font-weight: 900;
  font-size: 3.5rem;
  padding-top: calc(var(--spacing)*4);
  padding-bottom: calc(var(--spacing)*4); 
  margin: 0 auto;
}

.sec-4-1-title p {
  color: #6c757d;
  font-family: var(--textFont);
  line-height: 1.5rem;
  font-size: 0.7em;
  padding-top: 10px;
}

.sec-4-1-img {
  background: url(/imgs/3.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 600px;
  height: 400px;
  z-index: 99;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 50px;
}

.sec-4-2{
  position: absolute;
  top: 45%;
  border: 2px solid red;
}

.sec-4-2-title {
  width: 100vw;
  align-items: center;
  text-align: center;
  bottom: 0;
  right: 0;
  margin-top: 80px;
  /* border: 2px solid red; */
}

.sec-4-2 .sec-4-2-title h1 {
  font-family: var(--titleFont);
  font-size: 2.9em;
}

.sec-4-2 .sec-4-2-title p {
  font-family: var(--textFont);
  line-height: 1.5rem;
  padding-top: 20px;
}
